html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.clamp-lines__button {
  background: none;
  border: 0;
  color: #0000ee;
  cursor: pointer;
  padding: 0;
}
